html{
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.settings-modal {
  position: absolute;
  top: -1000px;
  width: 800px;
  height: 450px;
  border-radius: 2px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("images/puppy_bg.png");
}

.settings-modal-header {
  border-bottom: solid 1px white;
  height: 50px;
  background-color: rgba(81, 16, 255, 0.5);
}

.settings-modal-header > div {
  padding: 15px;
  display: inline-block;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.bookmarks-main-container {
  height: 398px;
  overflow-y: scroll;
  display: none;
}

.bookmarks-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.bookmarks-container a {
  display: block;
  padding: 20px;
  color: black;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 18%;
  height: 50px;
  text-decoration: none;
}

.bookmarks-container a:hover {
  background-color: #f4f4f4;
}

.bookmarks-container a:active {
  transform: translateY(1px);
  box-shadow: none;
}

.bookmarks-container img {
  display: block;
  margin: 0 auto;
}

.bookmarks-container span {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}

.settings-modal-header .close-modal {
  float: right;
  font-size: 18px;
}

.search__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar {
  width: 584px;
  border-radius: 2px;
  background-color: rgba(252, 252, 252, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  height: 44px;
  border: solid 0.5px rgb(224, 224, 224);
  padding-left: 15px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.search-bar:focus {
  outline: transparent;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.search-btn {
  text-align: center;
  display: block;
  background-color: #f2f2f2;
  border: solid 1px #f2f2f2;
  color: #757575;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  padding: 12px;
  border-radius: 2px;
  margin-top: 10px;
  width: 100px;
  margin: 20px auto 0 auto;
  text-decoration: none;
}

.search-btn:hover {
  border: solid 1px #c6c6c6;
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  color: #222;
}

.settings-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.settings-btn-dot {
  display: block;
  width: 5px;
  height: 5px;
  margin: 23px auto 0 auto;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

.settings-btn-dot::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0;
}

.settings-btn-dot::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 0;
}

.bold-tab {
  font-weight: bold;
}

.to-do-container {
  display: none;
  text-align: center;
  position: relative;
  width: 450px;
  margin: 0 auto;
  height: 360px;
}

.to-do-container h5 {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 200;
}

.to-do-input {
  width: 400px;
  padding: 15px;
  font-size: 16px;
  color: inherit;
  border: solid 1px rgb(231, 231, 231);
  border-radius: 2px;
  margin-top: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in-out;
}

.to-do-input:focus {
  outline: none;
  border-bottom: solid 4px rgb(142, 102, 252);
}

.to-do-add {
  position: absolute;
  right: 9px;
  top: 16px;
  width: 40px;
  height: 38px;
  background-color: rgb(142, 102, 252);
  border-radius: 0 2px 2px 0;
  padding-top: 12px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.to-do-append {
  list-style: none;
  text-align: left;
  padding-left: 0;
  height: 229px;
  max-height: 229px;
  overflow-y: scroll;
}

.to-do-container li {
  padding: 15px;
  padding-right: 50px;
  position: relative;
}
.to-do-container li {
  background-color: white;
  border-bottom: solid 1px rgb(236, 236, 236);
}

.to-do-trash {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

.clock-container {
  background-color: rgba(173, 173, 173, 0.5);
  color: white;
  width: 120px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

.clock-container > div {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px;
  position: relative;
}

.clock-hours::after {
  content: ":";
  font-size: 16px;
  line-height: 23px;
  vertical-align: top;
  position: absolute;
  right: -2px;
}

.clock-minutes::after {
  content: ":";
  font-size: 16px;
  line-height: 23px;
  vertical-align: top;
  position: absolute;
  right: -3px;
}

.clock-seconds {
  padding-left: 3px;
}

.settings-container {
  display: none;
  padding-top: 150px;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto 20px auto;
  font-size: 16px;
}

.slider-container {
  width: 50px;
  height: 20px;
  display: flex;
  position: relative;
  border: solid 1px #dbdbdb;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #cccccc;
}

.yes {
  width: 50%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
.no {
  width: 50%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.slide {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  right: -1px;
  background: rgb(142, 102, 252);
  transition: right 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: -2px 0px 8px 2px #dbdbdb;
  cursor: pointer;
}

.puppies-container {
  display: block;
  height: 398px;
  overflow-y: scroll;
}

.puppies-container h5 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.puppies-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.puppy-image {
  width: 45%;
  height: 200px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 2px gray;
  cursor: pointer;
}

a:active {
  transform: translateY(1px);
}

::-webkit-scrollbar {
  width: 2px;
  height: auto;
  background: transparent;
}

.notes-container {
  height: 80vh;
  overflow: auto;
  width: 224px;
}

.note-div {
  width: 200px;
  height: 200px;
  position: relative;
  background: rgb(248, 248, 96);
  overflow: hidden;
  margin-bottom: 5px;
}

.note-textarea {
  width: 180px;
  height: 180px;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: inherit;
  resize: none;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
}

.note-textarea:active,
.note-textarea:focus {
  outline: none;
}

.note-delete {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font-size: 16px;
}

.add-note {
  display: inline-block;
  padding: 8px;
  background-color: rgba(173, 173, 173, 0.5);
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.daily-puppy {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  background-color: rgba(173, 173, 173, 0.5);
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.daily-puppy a {
  color: white;
  text-decoration: none;
}

#tail {
  animation: wagTail 0.5s infinite;
}

#H {
  animation: H 1s infinite;
  backface-visibility: hidden;
  animation-delay: 0;
}
#i {
  animation: i 1s infinite;
  backface-visibility: hidden;
  animation-delay: 125ms;
}
#t {
  animation: t 1s infinite;
  backface-visibility: hidden;
  animation-delay: 250ms;
}
#h {
  animation: h 1s infinite;
  backface-visibility: hidden;
  animation-delay: 375ms;
}
#e-1 {
  animation: e1 1s infinite;
  backface-visibility: hidden;
  animation-delay: 500ms;
}
#r {
  animation: ranimation 1s infinite;
  backface-visibility: hidden;
  animation-delay: 625ms;
}
#e-2 {
  animation: e2 1s infinite;
  backface-visibility: hidden;
  animation-delay: 750ms;
}
#ex {
  animation: ex 1s infinite;
  backface-visibility: hidden;
  animation-delay: 875ms;
}
@keyframes H {
  0% {
    transform: translate(330px, 201px);
  }
  50% {
    transform: translate(330px, 192px);
  }
  100% {
    transform: translate(330px, 201px);
  }
}
@keyframes i {
  0% {
    transform: translate(367px, 201px);
  }
  50% {
    transform: translate(367px, 192px);
  }
  100% {
    transform: translate(367px, 201px);
  }
}
@keyframes t {
  0% {
    transform: translate(401px, 201px);
  }
  50% {
    transform: translate(401px, 192px);
  }
  100% {
    transform: translate(401px, 201px);
  }
}
@keyframes h {
  0% {
    transform: translate(455px, 201px);
  }
  50% {
    transform: translate(455px, 192px);
  }
  100% {
    transform: translate(455px, 201px);
  }
}
@keyframes e1 {
  0% {
    transform: translate(472px, 201px);
  }
  50% {
    transform: translate(472px, 192px);
  }
  100% {
    transform: translate(472px, 201px);
  }
}
@keyframes ranimation {
  0% {
    transform: translate(494px, 201px);
  }
  50% {
    transform: translate(494px, 192px);
  }
  100% {
    transform: translate(494px, 201px);
  }
}
@keyframes e2 {
  0% {
    transform: translate(522px, 201px);
  }
  50% {
    transform: translate(522px, 192px);
  }
  100% {
    transform: translate(522px, 201px);
  }
}
@keyframes ex {
  0% {
    transform: translate(570px, 201px);
  }
  50% {
    transform: translate(570px, 192px);
  }
  100% {
    transform: translate(570px, 201px);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: translate(154px, 140px);
  }
  50% {
    opacity: 1;
    transform: translate(154px, 160px);
  }
  100% {
    opacity: 1;
    transform: translate(154px, 140px);
  }
}

@keyframes wagTail {
  0% {
    transform: rotate(0deg) translate(232px, 294px);
  }
  25% {
    transform: rotate(1deg) translate(232px, 294px);
  }
  50% {
    transform: rotate(0deg) translate(232px, 294px);
  }
  75% {
    transform: rotate(1deg) translate(232px, 294px);
  }
  100% {
    transform: rotate(0deg) translate(232px, 294px);
  }
}
